body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

#topo {
    margin: 10px;
}

#logo {
    float: left;
    padding: 10px 0px 5px 20px;
}

#menu {
    float: right;
    margin: 10px 5px 30px;
}

#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;

    /* visual do link */
    background-color:#FFF;
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

#menu ul li a:hover {
    background-color:#444;
    color: #efefef;
}

#conteudo {
    width: 96%;
    margin: 0 auto;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 5px;
}

#conteudo h1 {
    
}

#esquerdo {
    float: left;
    width: 66%;
    margin: 3px;
    margin-top: 8px;
}

#direito {
    float: right;
    width: 30%;
    margin: 3px;
    padding: 5px;
}

legend label {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

legend p {
    text-align: justify;
}

legend a {
    
}

#erro p{
    padding: 5px;
    text-align: center;
    color: #600;
    width: 100%;
    font-weight: bold;
    border: 1 px solid #A33;
    color: #400;
}

#rodape {
    width: 96%;
    margin: 0 auto;
    padding-top: 8px;
}

#direito video {
    width: 100%;
}

#linha_esquerda {
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
}

#coluna_esquerda {
    border: 1px solid #000;
    border-radius: 8px;
    width: 47%;
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
    margin-left: 10px;
    float: left;
}